@model DroHub.Areas.DHub.Models.Device
@{
    ViewData["Title"] = "Create";
}

<div class="modal fade" id="modal-add-device" tabindex="-1" role="dialog" asp-require-claim asp-claim-type="@Device.CAN_ADD_CLAIM" asp-claim-value="@Device.CLAIM_VALID_VALUE">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Create Device</h4>
            </div>
            <div class="modal-body">
                <form asp-controller="Devices" asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" required />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SerialNumber" class="control-label"></label>
                        <input asp-for="SerialNumber" class="form-control" required />
                        <span asp-validation-for="SerialNumber" class="text-danger"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default pull-left" data-save="modal">Register</button>
            </div>
        </div>
    </div>
</div>