@model DroHub.Areas.DHub.Models.Device
@{
    ViewData["Title"] = "Edit";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Device
        <small>Edit</small>
    </h1>
    <ol class="breadcrumb">
        <li><a asp-area="DHub" asp-controller="Devices" asp-action="" title="Back to devices list"><i class="fa fa-camera"></i> Devices</a></li>
        <li class="active">Edit</li>
    </ol>
</section>
<!-- /Content Header (Page header) -->
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-sm-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Edit Device</h3>
                </div>
                <form asp-action="Edit">
                    <div class="box-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="Id" type="hidden" />
                        <input asp-for="CreationDate" type="hidden" />
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SerialNumber" class="control-label"></label>
                            <input asp-for="SerialNumber" class="form-control" />
                            <span asp-validation-for="SerialNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ISO" class="control-label"></label>
                            <select asp-for="ISO" class="form-control select2" style="width: 100%;"
                                    asp-items="@(new SelectList((IEnumerable<SelectListItem>)@ViewData["Isos"], "Value" , "Text" ))"></select>
                            <span asp-validation-for="ISO" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Apperture" class="control-label"></label>
                            <select asp-for="Apperture" class="form-control select2" style="width: 100%;"
                                    asp-items="@(new SelectList((IEnumerable<SelectListItem>)@ViewData["Appertures"], "Value", "Text"))"></select>
                            <span asp-validation-for="Apperture" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FocusMode" class="control-label"></label>
                            <select asp-for="FocusMode" class="form-control select2" style="width: 100%;"
                                    asp-items="@(new SelectList((IEnumerable<SelectListItem>)@ViewData["FocusModes"], "Value", "Text"))"></select>
                            <span asp-validation-for="FocusMode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="box-footer text-right">
                        <a asp-action="Delete" asp-route-id="@Model.Id"  class="btn btn-danger" title="Back to devices list">Delete Device</a>
                        <input type="submit" value="Save" title="Save device changes" class="btn btn-success" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- /Main content -->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        //Initialize Select2 Elements
        $('.select2').select2()
    </script>
}
