@model DroHub.Areas.DHub.Controllers.DevicesController.GalleryPageModel
@{
    ViewData["Title"] = "Gallery";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <style>
        .box-top-border {
            border-top: 4px solid #3c8dbc
        }
    </style>
    <h1>
        Devices
        <small>Gallery</small>
    </h1>
    <ol class="breadcrumb">
        <li><a asp-area="DHub" asp-controller="Devices" asp-action="" title="Back to devices list"><i class="fa fa-camera"></i> Devices</a></li>
        <li class="active">Gallery</li>
    </ol>
</section>
<!-- /Content Header (Page header) -->
<!-- Main content -->
<section class="content">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title text-uppercase">Multimedia</h3>
                <div class="box-tools pull-right">
                        <button type="button" data-widget="collapse" class="btn btn-box-tool"><i class="fa fa-minus"></i></button>
                    </div>
            </div>
            <div class="box-body">
                <ul class="timeline">
                    @foreach(var video_file in @Model.video_paths) {
                    <li>
                        <i class="fa fa-camera bg-maroon"></i>
                        <div class="timeline-item">

                            <h3 class="timeline-header">
                                <span class='time local-time-text' data-unix-time="@video_file.Name.Split('-')[2].Split('.')[0]"><i class="fa fa-clock-o"></i></span>
                            </h3>
                            <div class="timeline-body">
                                <div class="box box-solid collapsed-box">
                                    <div class="box-header">
                                        <div class="box-tools pull-right">
                                            <button type="button" data-widget="collapse" class="btn btn-box-tool"><i class="fa fa-plus"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            @* <div class=device-video-overlay>
                                                <div class="video-overlay-top video-overlay-left">

                                                </div>
                                                <div class="video-overlay-top video-overlay-centered">
                                                    <i class="fa fa-play-circle"></i>
                                                </div>
                                            </div> *@
                                            <video class="rounded centered embed-responsive-item controls device-video livestream-recording-video" src='@Url.Action("GetLiveStreamRecordingVideo", new {video_id = video_file.Name})' controls preload="none" playsinline></video>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    }
                </ul>
            </div>
        </div>
        <div class="box box-top-border">
            <div class="box-header with-border">
                <h3 class="box-title text-uppercase">Logs</h3>
                <div class="box-tools pull-right">
                        <button type="button" data-widget="collapse" class="btn btn-box-tool"><i class="fa fa-minus"></i></button>
                    </div>
            </div>
            <div class="box-body">
                Logs
            </div>
        </div>
</section>
@section Scripts {
    <script type="text/javascript" src="~/js/gallery.js"></script>
}