@using Dropbox.Api.Files

@model DroHub.Areas.DHub.Models.Device
@{
    ViewData["Title"] = "Gallery";
    string dropbox_device_token = ViewData["UserToken"] as string;
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Devices
        <small>Gallery</small>
    </h1>
    <ol class="breadcrumb">
        <li><a asp-area="DHub" asp-controller="Devices" asp-action="" title="Back to devices list"><i class="fa fa-camera"></i> Devices</a></li>
        <li class="active">Gallery</li>
    </ol>
</section>
<!-- /Content Header (Page header) -->
<!-- Main content -->
<section class="content">
    @if (!String.IsNullOrEmpty(dropbox_device_token)) {
        <script src="/lib/dropbox-sdk/Dropbox-sdk.min.js"></script>
        <script>
            var dbx = new Dropbox.Dropbox({ accessToken: '@dropbox_device_token', fetch: fetch});
            console.log('dbx', dbx)
            dbx.filesListFolder({path: '', include_media_info : true})
            .then(function(response) {
                populatePicturesTable(response.entries);
            })
            .catch(function(error) {
                console.error(error);
            });

            function getCoordinateCell(file, coord_type) {
                    if (typeof(file.media_info.metadata.location) != 'undefined')
                        return "<td>"+ eval("file.media_info.metadata.location." + coord_type) + "</td>"
                    else
                        return "<td class='text-red'><i>"+ "Picture does not have Geographical information" + "</i></td>"
            }
            function populatePicturesTable(files) {
                for (var i = 0; i < files.length; i++) {
                    if (files[i].tag != "file" && typeof(files[i].media_info) === 'undefined' &&
                            files[i].media_info[".tag"] != 'metadata' && files[i].media_info.metadata[".tag"] != 'photo')
                        continue;
                    var row = ""
                    var thumbnail = ""
                    row += "<td id=thumbnail-" + files[i].id+ "></td>"
                    row += getCoordinateCell(files[i], "latitude")
                    row += getCoordinateCell(files[i], "longitude")
                    row += "<td>"+ files[i].media_info.metadata.time_taken + "</td>"
                    row += "<td>"+ files[i].name + "</td>"
                    row += "<td>"+ files[i].size + "</td>"
                    $('#dropbox-data-table > tbody:last-child').append("<tr>" + row + "</tr>")
                    dbx.filesGetThumbnail({path: files[i].path_lower}).then(function(response) {
                        var img = document.createElement('img');
                        img.src=window.URL.createObjectURL(response.fileBlob);
                        document.getElementById("thumbnail-" + response.id).appendChild(img)
                    })
                    .catch(function(error) {
                        console.log("When trying to get the thumbnail got error:");
                        console.log(error);
                    });
                }
            }
        </script>
    }
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li role="presentation">
                                <a asp-area="DHub" asp-controller="Devices" asp-route-id="@Model.Id" asp-action="Camera" title="View device camera">Camera</a>
                            </li>
                            <li role="presentation" class="active">
                                <a href="#">Gallery</a>
                            </li>
                            <li role="presentation">
                                <a asp-area="DHub" asp-controller="Devices" asp-route-id="@Model.Id" asp-action="Data" title="View device data">Data</a>
                            </li>
                            <li class="pull-right header">
                                <input type="submit" class="pull-right btn btn-sm btn-danger" value="Disconnect repository"
                                       form="disconnect-form" />
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-hover ui-helper-center">
                        <thead>
                            <tr>
                                <th>Thumbnail</th>
                                <th>Latitude</th>
                                <th>Longiture</th>
                                <th>DateTime</th>
                                <th>File</th>
                                <th>Size (bytes)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <a asp-area="DHub" asp-controller="Devices" asp-action="" class="btn btn-primary" title="Back to devices list">Back to list</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Main content -->
@using (Html.BeginForm("Disconnect", "DeviceRepository", new { id = @Model.Id }, FormMethod.Post, true, new { id = "disconnect-form" }))
{
    @Html.AntiForgeryToken();
}

