<h2>@ViewData["Title"]</h2>

<p>Dropbox auth URL: @ViewData["RepositoryAuthenticationURL"]</p>

<div>
    <a class="btn btn-default" href="@ViewData["RepositoryAuthenticationURL"]">Access Device Repository!</a>
</div>