[Unit]
Description=%i service with docker compose
Requires=docker.service
After=docker.service

[Service]
Restart=always

WorkingDirectory=/etc/docker/docker-compose/%i

# Compose up
ExecStart=/usr/local/bin/docker-compose up

ExecStop=/usr/local/bin/docker-compose down -v

[Install]
WantedBy=multi-user.target