*.svg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.eps filter=lfs diff=lfs merge=lfs -text
*.ai filter=lfs diff=lfs merge=lfs -text
*.mjr filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
DroHub.Tests/TestAssets filter=lfs diff=lfs merge=lfs -text
parrot-backend/android/app/src/androidTest/assets/video.mp4 filter=lfs diff=lfs merge=lfs -text
DroHub.Tests/TestAssets/preview-drone-PI040416DA9H110281-1608225545000.jpeg filter=lfs diff=lfs merge=lfs -text
