.env
bin/
obj/
*.pyc
mono_crash*
**.idea**
Folder.DotSettings.user
wwwroot/vue
DroHub.sln.DotSettings.user
parrot-backend/android/app/release/
.docker-android-home/
parrot-backend/android/.run/
drohub-vue/tests/temporary-test-data.json
docker-compose-test.yml
DroHub.Tests/TestAssets
DroHub.Tests/.download
