.modal-mask {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    color: #333333;
    display: table;
    transition: opacity .3s ease;
}

.modal-body {
    position: relative;
    padding: 15px;
    margin-left: 56px;
    margin-right: 56px;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-body-extra {
    border-radius: 4px;
}

.modal-footer-extra {
    text-align: center;
}

.modal-overlay {
    background: rgba(0, 0, 0, .8);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10
}

.modal-content-extra {
    border-radius: 4px;
}