@page
@model ForgotPasswordConfirmation

<div class="login-box">
    <div class="login-logo">
        <a asp-area="" asp-controller="Home" asp-action="Index"><b>D</b>ro<b>H</b>ub</a>
    </div> <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Please check your email to reset your password.</p>
    </div>
</div>
