@page
@model ForgotPasswordModel

<div class="login-box">
    <div class="login-logo">
        <a asp-area="" asp-controller="Home" asp-action="Index"><b>D</b>ro<b>H</b>ub</a>
    </div> <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Enter your email to recover your password.</p>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group has-feedback">
                <input asp-for="Input.Email" class="form-control" placeholder="Email" />
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <a asp-page="./Login">Back to Login</a>
                </div>
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
