@page
@model ForgotPasswordConfirmation

<div class="login-box">
    <div class="login-logo">
        <a href="/"><img alt="DROHUB" src="/images/logo/drohub-small.png"/></a>
    </div> <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Please check your email to reset your password.</p>
    </div>
</div>
