@page
@model LoginModel

<div class="login-box-drohub">
    <div class="drohub-logo">
        <a href="/"><img alt="DROHUB" src="/images/logo/drohub-small.png"/></a>
    </div> <!-- /.login-logo -->
    <div class="login-box-body-drohub">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger content-centered"></div>
            <div class="form-group content-centered has-feedback">
                <input asp-for="Input.Email" class="form-control-drohub" placeholder="Email"/>
            </div>
            <div class="form-group content-centered has-feedback">
                <input asp-for="Input.Password" class="form-control-drohub" placeholder="Password"/>
            </div>
            <div class="form-group content-centered">
                <a asp-page="./ForgotPassword">Forgot your password?</a>
            </div>
            <div class="form-group content-centered has-feedback">
                <button type="submit" class="btn login-submit-btn-drohub">Log In</button>
            </div>

        </form>
        <a class="content-centered login-create-account-btn" href="/#pricing">Create Account</a>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
