@using DroHub.Areas.Identity.Data
@using DroHub.Areas.DHub.API
@inject DeviceAPI device_api
<aside class="main-sidebar drohub-skin-black-light">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <div class="drohub-user-panel">
                <a class="pull-left image btn btn-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Profile" class="" >
                    <img src="~/AdminLTE/dist/img/user2-160x160.jpg" style="max-width:45px" class="img-circle" alt="User Image">
                </a>
                <div class="pull-right info">
                    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Profile" class="btn btn-link" >
                        <p class="user-name">@User.Identity.Name</p>
                        <p class="user-role">@DroHubUser.convertActingTypeToHumanFormat(User.Claims.Single(c => c.Type == DroHubUser.BASE_ACTING_TYPE_KEY_CLAIM).Value)</p>
                    </a>
                </div>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu tree" data-widget="tree">
            <li>
                <a asp-action="Dashboard" asp-area="DHub" asp-controller="DeviceRepository">
                    <i class="fa fa-map"></i> <span>Dashboard</span>
                </a>
            </li>
             <li class="treeview">
                 <a href="#">
                     <i class="fa fa-camera"></i>
                     <span>Multimedia</span>
                     <span class="pull-right-container">
                         <i class="fa fa-angle-left pull-right"></i>
                     </span>
                 </a>
                 @{
                     var devices = await device_api.getSubscribedDevices();
                 }
                 <ul class="treeview-menu" id="devices-list">
                     @foreach (var device in devices) {
                         <li><a href='@Url.Action("Gallery", "Devices", new {Id = device.Id, Area = "DHub"})'> <i class="fa fa-plug"></i>@device.Name</a ></li>
                     }

                 </ul>
            </li>
        </ul>
    </section>
</aside>