.nav-tabs-custom > .nav-tabs > li.active {
    border-top-color: transparent !important;
    border-bottom-color: #3c8dbc;
}

.nav-tabs-custom > .nav-tabs > li {
    border-top: unset !important;
    border-bottom: 3px solid transparent;
    margin-top: -2px;
}

.ui-helper-center {
    text-align: center !important;
    vertical-align: middle !important;
}
#image {
    image-orientation : none;
}