.livestream-recording {
    max-height: 162px;
    max-width: 100%;
}

.tag-label-template {
    display: none !important;
}

.tag-input-description {

}

input.tag-comma-separated-text {
    text-transform: lowercase;
}

.tag-user-container{
    width: auto;
    border-radius: 20px;
    padding-inline: 22px;
    margin: 1px;
    color:white;
    background: #758093;
}

.tag-list-input-group {
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
}


.tag-user-label {
    border-radius: 20px;
}

label img.media-type-image {
    width: 30px;
    filter: brightness(0%) invert(50%) sepia(0%) saturate(5408%) hue-rotate(112deg) brightness(108%) contrast(128%)
}

:checked + label img.media-type-image {
    width: 30px;
    filter: brightness(0%) invert(0%) sepia(5%) saturate(21%) hue-rotate(161deg) brightness(93%) contrast(105%)
}