/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\
for details on configuring this project to bundle and minify static web assets. */
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.small-gutter {
    padding:7px;
}

.device-video {
    background: rgba(120,120,120,0.4);
    width: 100%;
    display: block;
}

.telemetry-single-data {
    padding: 5px;
}

.device-video-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: white;
    font-size: 16px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.btn-transparent-bg {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.video-overlay-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.video-overlay-top {
    position: absolute;
    top: 0;
    height: 40px;
    width: 100%;
    border-radius: 6px;
    background-color: rgba(0,0,0,0.5);
}

.video-overlay-slightly-raised {
    bottom: 50px
}

.video-overlay-circle {
  height: 78px;
  width: 148px;
  font-size: 50px;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  float: right;
  background-color: rgba(0,0,0,0.5);
  display: inline-flex;
}

.video-overlay-record-rectangle {
  height: 78px;
  width: 148px;
  font-size: 50px;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  float: right;
  background-color: rgba(0,0,0,0.5);
  display: inline-flex;
}

.video-overlay-photo-icon {
    font-size: 35px;
}

.video-overlay-record-icon {
    font-size: 45px;
}

.video-overlay-left {
    position: absolute;
    left: 0;
}

.video-overlay-horizontal-centered {
    position: absolute;
    left: 50%;
}

.video-overlay-controls-toggle {
    background-color: rgba(0,0,0,0.5);
    display: inline-block;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-block: 10px;
    padding-inline: 45px;

}

.video-overlay-centered {
    text-align: center;
}

.plus-right::after {
    content: '\f067';
    padding-left: 10px;
    font-weight: 900;
    font-size: 16px;
    font-family: "Font Awesome 5 Pro";
}

.minus-right::after {
    content: '\f068';
    padding-left: 10px;
    font-weight: 900;
    font-size: 16px;
    font-family: "Font Awesome 5 Pro";
}

.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
  color: inherit;
  visibility: visible;
}