/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\
for details on configuring this project to bundle and minify static web assets. */
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

button.login-submit-btn-drohub {
    box-sizing: border-box;
    height: 48px;
    width: 200px;
    border: 1px solid #2874CE;
    border-radius: 4px;
    background-color: #4A90E2;
    color: #FFFFFF;
    font-size: 1.5em;
    margin-top:25px;
    margin-bottom: 25px;
}

button.login-submit-btn-drohub:hover {
    background: white;
    color: #1099FF!important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.login-page-drohub {
    background: #eff1f4;
}

.form-control-drohub {
    width: 388px;
    max-width: 100%;
    border-width: 0;
    border-bottom: solid;
    border-bottom-width: thin;
    border-bottom-color: #bcbcbc;
    padding-left: 2%;
    padding-bottom: 3%;
    font-size: 20px;
}

.form-control-drohub:focus {
    color: black;
}

.login-box-drohub {
    width: 500px;
    margin: 7% auto;
    max-width: 100%;
}

.login-box-body-drohub {
    background: #ffffff;
    color: #747171;
    padding-top: 15%;
}

.login-create-account-btn {
    padding-top: 20px;
    color: #1099FF;
    padding-bottom: 20px;
    display: block;
    border-top: 1px solid rgba(113,129,150,0.45);
}

.login-create-account-btn:hover {
    color: white;
    font-style: normal !important;
    background: #4a90e2;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.skin-drohub {
    background-color: #2d3c4a;
}

.btn-box-tool-drohub {
    padding: 5px;
    font-size: 12px;
    color: black;
}

.btn-drohub {
    background-color: #2d3c4a;
}

.small-gutter {
    padding:7px;
}

.device-video {
    background: rgba(120,120,120,0.4);
    width: 100%;
    display: block;
}

.telemetry-single-data {
    padding: 5px;
}
.device-video-overlay-animation {
    opacity: 0;
    filter:alpha(opacity=0);
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
}

.device-video-overlay-animation:hover, .device-video-overlay-animation:active {
    opacity: 100%;
    filter:alpha(opacity=100);
}

.device-video-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: white;
    font-size: 16px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.btn-transparent-bg {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.video-overlay-bottom {
    position: absolute;
    bottom: 5%;
    width: 100%;
    height: 16%;
}

.no-side-padding {
    padding-right: 0px;
    padding-left: 0px;
}

.max-width {
    width: 100%;
    height: 100%;
}

.video-overlay-top {
    position: absolute;
    top: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    border-radius: 6px;
    background-color: rgba(0,0,0,0.8);
}

.video-overlay-circle {
  height: 78px;
  width: 148px;
  font-size: 50px;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  float: right;
  background-color: rgba(0,0,0,0.5);
  display: inline-flex;
}

.video-overlay-record-rectangle {
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  background-color: rgba(0,0,0,0.8);
  float: right;
  height: 100%;
  display: flex;
}

.drohub-logo {
    display: flex;
    justify-content: center;
}

.video-overlay-rth {
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    background-color: rgba(0,0,0,0.8);
    float: left;
    height: 100%;
    display: flex;
}


.row-no-padding > [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.video-overlay-left {
    position: absolute;
    left: 0;
}

.minimum-size {
    display: inline-block;
}

.video-overlay-horizontal-centered {
    position: absolute;
    left: 50%;
}

.video-overlay-controls-toggle {
    background-color: rgba(0,0,0,0.5);
    display: inline-block;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-block: 10px;
    padding-inline: 45px;

}

.video-overlay-photo-icon {
    border-bottom-width: 0px;
    border-bottom-style: solid;
    border-top-width: 0px;
    border-top-style: solid;
    padding-left: 15px;
    padding-right: 0px;
    border-right-width: 0px;
    border-right-style: solid;
    border-left-width: 2px;
    border-left-style: solid;
    margin-left: 0px;
}


div.col-md-6:nth-child(2) > form:nth-child(1) > button:nth-child(3) {
    border-top-width: 0px;
    border-top-style: solid;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    padding-right: 0px;
    padding-left: 0px;
}


.fit-to-parent {
    height: 85%;
    width: 85%;
    object-fit: contain;
}

.content-centered {
    text-align: center;
}

.column-vertical-center {
    display: grid;
    align-items: center;
    height: 100%;
}

.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
  color: inherit;
  visibility: visible;
}

.text-strong-green {
    color: #00ff00;
}

.text-strong-yellow {
    color: #ffff00;
}

.text-strong-red {
    color: #ff0000;
}