@model DroHub.Areas.DHub.Models.Device
<div class="box collapsed-box" id="box-stream-@Model.Id">
    <div class="box-header with-border">
        <h3 class="box-title">
            Stream
        </h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool video-play" device-id="@Model.Id"><i class="fa fa-play"></i></button>
            <button type="button" data-widget="collapse" class="btn btn-box-tool"><i class="fa fa-plus"></i></button>
        </div>
    </div>
    <div class="box-body" id="box-body-@Model.Id">
        <div class="webrtc-video hide">
            <div class="embed-responsive embed-responsive-16by9" id="stream-@Model.Id">
                <video class="rounded centered embed-responsive-item controls" id="remotevideo-@Model.Id" autoplay playsinline>
                </video>
            </div>
            <div class="box-tools pull-right box-solid">
                <span class="label label-primary" id="status-@Model.Id"></span>
                <span class="label label-primary" id="curres-@Model.Id"></span>
                <span class="label label-info" id="curbitrate-@Model.Id"></span>
                <span class="label label-info" id="datarecv-@Model.Id"></span>
            </div>
        </div>
        <div class='no-video-placeholder'>
            <h4>
                Video is not started. Press play to Start.
            </h4>
        </div>

    </div>
</div>