@model DroHub.Areas.DHub.Controllers.DeviceRepositoryController.GalleryPageModel
@{
    ViewData["Title"] = "Gallery";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <style>
        .box-top-border {
            border-top: 4px solid #3c8dbc
        }
    </style>
    <h1>
        Devices
        <small>Gallery</small>
    </h1>
    <ol class="breadcrumb">
        <li><a asp-area="DHub" asp-controller="Devices" asp-action="" title="Back to devices list"><i class="fa fa-camera"></i> Devices</a></li>
        <li class="active">Gallery</li>
    </ol>
</section>
<!-- /Content Header (Page header) -->
<!-- Main content -->
<section class="content">
    @foreach (var point_in_time_files in @Model.FilesPerTimestamp) {
        <ul class="timeline">
            <li class="time-label">
                <span class='time local-date-text' data-unix-time="@point_in_time_files.Key"><i class="fa fa-clock-o"></i></span>
            </li>
        @foreach (var device_files in point_in_time_files.Value) {
            <li>
                <i class="fa fa-camera bg-maroon"></i>
                <div class="timeline-item">

                    <h3 class="timeline-header">
                        @device_files.Key
                    </h3>
                    <div class="timeline-body">
                        <div style="display: inline;" class="container  content-centered">
                            <div class="row">
                                <div class="col">
                                @foreach (var file in device_files.Value) {
                                    <video class="rounded livestream-recording"
                                           src='@Url.Action("GetLiveStreamRecordingVideo", new {video_id = file.media_info.VideoPath})'
                                           controls preload="metadata">

                                    </video>
                                }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        }
        </ul>
}
</section>
@section Scripts {
    <script type="text/javascript" src="~/js/gallery.js"></script>
}