@using Microsoft.AspNetCore.Hosting
@using Newtonsoft.Json
@model DroHub.Areas.DHub.Controllers.DeviceRepositoryController.GalleryPageModel
@inject IWebHostEnvironment _host_env
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{

    private string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@{
    ViewData["Title"] = "Gallery";
}

<div id="app">
    <!-- Content Header (Page header) -->
    <section class="content-header">

        <div style="max-width: 624px; margin-right: 27px;" class="drohub-gallery-content-margin input-group-lg tag-input-container tag-selector">

            @* <span class="drohub-input-group-addon"> *@
            @*     <i class="far fa-search"></i> *@
            @* </span> *@
            <div class="form-group">
                <div class="tag-list-input-group">
                    @* <div class="tag-label-template tag-user-container icheckbox_tag-label"> *@
                    @*     <a style="color:white;" href="#"><i class="fa tag-remove-container-on-click fa-times"></i></a> *@
                    @*     <span class="tag-user-text"></span> *@
                    @* </div> *@
                    <gallery-input class=""
                                   placeholder="Type a device name a tag or select media type!">

                    </gallery-input>
                    @* <gallery-input class="drohub-form-control" *@
                    @* <input type="text" class="tag-comma-separated-text drohub-form-control" placeholder="Type a device name a tag or select media type!"/> *@
                </div>
            </div>
            @* <span class="drohub-input-group-addon"> *@
            @*     <input style="display: none" id="recording-tag-check" type="checkbox" class="tag-checkbox"/> *@
            @*     <label for="recording-tag-check"> *@
            @*         <img alt="filter by recording"  class="media-type-image" src="~/images/assets/timeline-thumbnail-recording.svg"/> *@
            @*     </label> *@
            @* </span> *@
            @* *@
            @* <span class="drohub-input-group-addon"> *@
            @*     <input style="display: none" id="photo-tag-check" type="checkbox" class="tag-checkbox"/> *@
            @*     <label for="photo-tag-check"> *@
            @*         <img alt="drone gallery" class="media-type-image" src="~/images/assets/timeline-thumbnail-photo.svg"/> *@
            @*     </label> *@
            @* </span> *@
            @* *@
            @* <span class="drohub-input-group-addon"> *@
            @*     <input style="display: none" id="video-tag-check" type="checkbox" class="tag-checkbox"/> *@
            @*     <label for="video-tag-check"> *@
            @*         <img alt="drone gallery" class="media-type-image" src="~/images/assets/timeline-thumbnail-video.svg"/> *@
            @*     </label> *@
            @* </span> *@
        </div>

    </section>
    <!-- /Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
        @if (Model.FilesPerTimestamp.Count == 0) {
            <h2>Nothing in this gallery yet. Try using your drone making a live stream.</h2>
        }
        else {
            <gallery-timeline>
            </gallery-timeline>
         }
    </section>
</div>
@section Scripts {
<script type="text/javascript" src="~/vue/js/Gallery.js"></script>
<script type="application/javascript">
    window.init_data = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(@Model.FilesPerTimestamp, new JsonSerializerSettings() {ReferenceLoopHandling = ReferenceLoopHandling.Ignore}))');
    window.anti_forgery_token = "@GetAntiXsrfRequestToken()"
</script>
<partial name="_ValidationScriptsPartial" />
}

@section head {
}
